div.gallery {
    margin: 2px;
    float: left;
    width: 180px;
}

div.gallery:hover {
    opacity: 0.4;
}

div.gallery img {
    width: auto;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}